@import 'tailwindcss';
/* @plugin "@tailwindcss/typography"; */

@layer base {
	@font-face {
		font-family: 'Streamster';
		src: url('/fonts/Streamster.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
		font-display: block;
	}

	@font-face {
		font-family: 'Rajdhani';
		src: url('/fonts/Rajdhani-Light.ttf') format('truetype');
		font-weight: 300;
		font-style: normal;
	}

	@font-face {
		font-family: 'Rajdhani';
		src: url('/fonts/Rajdhani-Regular.ttf') format('truetype');
		font-weight: 400;
		font-style: normal;
	}

	@font-face {
		font-family: 'Rajdhani';
		src: url('/fonts/Rajdhani-Medium.ttf') format('truetype');
		font-weight: 500;
		font-style: normal;
	}

	@font-face {
		font-family: 'Rajdhani';
		src: url('/fonts/Rajdhani-SemiBold.ttf') format('truetype');
		font-weight: 600;
		font-style: normal;
	}

	@font-face {
		font-family: 'Rajdhani';
		src: url('/fonts/Rajdhani-Bold.ttf') format('truetype');
		font-weight: 700;
		font-style: normal;
	}
}

body {
	background-color: #221335;
	background-image: url('/background.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

button {
	cursor: pointer;
}

@theme {
	--font-sans: 'Rajdhani', sans-serif;
	--font-streamster: 'Streamster', cursive;
}
