@import 'tailwindcss';
@plugin "@tailwindcss/typography";

body {
	background-color: #221335;
	background-image: url('/background.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
